td {
    border: black 1px solid;
    padding: 15px;
}

.he {
    direction: rtl;
}

.r {
    font-weight: 800;
    color: red;
}

.s {
    font-weight: 800;
    color: blue;
}

.p {
    font-weight: 800;
}

.realrefrow {
    background-color: lightblue;
}

.shamrefrow {
    background-color: lightyellow;
}