div.entry {
}

div.head-word {
    font-size: 130%;
    font-weight: bold;
    display: inline-block;
    direction: rtl;
    padding: 0 5px;
}

div.hw-number {
    display: inline;
}

div.pos {
    display: inline;
}

div.language-key {
    display: inline;
}

div.language-reference {
    display: inline;
}

div.senses {
}

div.notes {
    display: inline;
}

div.plural-form {
    display: inline;
}

div.binyan {
    display: inline;
}

div.derivatives {
    display: inline;
}

div.sense {
}

div.number {
    display: inline;
    padding-right: 5px;
}

div.definition {
    display: inline;
}

div.binyan-form {
    display: inline;
}

div.binyan-name {
    display: inline;
}

div.alternative {
}

a.xref {

}

